.main-container{
    background-color: white;
    padding-top: 4%;
}

.service{
    margin-top: 5%;
}

.sec-heading{
    font-family: 'Poppins', sans-serif;
    margin-left: 7%;
    border-bottom: 2px solid #6B6D6C;
    width: 20%;
    padding-bottom: 10px;
}

.row{
    margin: 2% 0;
}

.col-lg-4{
    padding: 1% 5%;
    text-align: center;
    margin-top: 2%;
}

.col-1:hover{
    background-color: black;
    color: #42fcd4;
    cursor: pointer;
}

.title{
    margin-top: 10px;
    font-weight: 600;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
}

.desc{
    font-weight: 1.1rem;
    font-weight: 500;
    color: #6B6D6C;
    font-family: 'Montserrat', sans-serif;
}

.col-1:hover .desc{
    color: white;
}

.footer {
    text-align: center;
    flex: 5;
    color: #6b6d6c;
    margin-top: 8%;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
  }